/* *************************** Global settings *************************** */
:root {
  --primary: rgb(15, 153, 121);
  --secondary: rgb(45, 50, 60);
  --emphasis: rgb(252, 73, 88);
  --white: rgb(255, 255, 255);

  /* grays */
  --gray100: rgb(247, 248, 249);
  --gray200: rgb(203, 207, 216);
  --gray300: rgb(152, 155, 161);
  --gray400: rgb(98, 102, 110);
  /* text */
  --title-color: rgb(47, 51, 66);
  --text-color: rgba(47, 51, 66, 0.7);
  /* font-size:  */
  --title-size: 42px;
  /* border-radius */
  --border-radius: 0px;
  /* font weight */
  --title-weight: 800;
  /* box shadow */
  --box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .15);
  --box-shadow-hover: 0 5px 20px 0 rgba(21, 157, 126, 0.15);
  --box-shadow-dark-hover: 0 5px 20px 0 rgba(45, 50, 60, 0.15);
  --cubic: cubic-bezier(.55, -0.57, .47, 1);

}

body {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--title-color);

}

a {
  text-decoration: none;
  font-weight: 400;
  color: var(--secondary);
  font-size: 16px;
}

.hide {
  display: none;
}

.max-width {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.reg {
  font-size: 10px;
  position: relative;
  top: -6px;
  left: -1px;
}

.button {
  border-radius: var(--border-radius);
  padding: 12px 24px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 400;
}

.button:hover {
  box-shadow: var(--box-shadow-hover);
}

.button.dark:hover {
  box-shadow: var(--box-shadow-dark-hover);
}


/* Custom padding */
.xxlg-padding-tb {
  padding-top: 160px;
  padding-bottom: 160px;
}

.xlg-padding-tb {
  padding-top: 120px;
  padding-bottom: 120px;
}

.lg-padding-tb {
  padding-top: 80px;
  padding-bottom: 80px;
}

.md-padding-tb {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sm-padding-tb {
  padding-top: 20px;
  padding-bottom: 20px;
}

.xsm-padding-tb {
  padding-top: 10px;
  padding-bottom: 10px;
}

.xxlg-padding-b {
  padding-bottom: 160px;
}

.xlg-padding-b {
  padding-bottom: 120px;
}

.lg-padding-b {
  padding-bottom: 80px;
}

.md-padding-b {
  padding-bottom: 40px;
}

.sm-padding-b {
  padding-bottom: 20px;
}

.xsm-padding-b {
  padding-bottom: 10px;
}

.xxlg-padding-t {
  padding-top: 160px;
}

.xlg-padding-t {
  padding-top: 120px;
}

.lg-padding-t {
  padding-top: 80px;
}

.md-padding-t {
  padding-top: 40px;
}

.sm-padding-t {
  padding-top: 20px;
}

.xsm-padding-t {
  padding-top: 10px;
}

/* Custom margin */
.xxlg-margin-tb {
  margin-top: 160px;
  margin-bottom: 160px;
}

.xlg-margin-tb {
  margin-top: 120px;
  margin-bottom: 120px;
}

.lg-margin-tb {
  margin-top: 80px;
  margin-bottom: 80px;
}

.md-margin-tb {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sm-margin-tb {
  margin-top: 20px;
  margin-bottom: 20px;
}

.xsm-margin-tb {
  margin-top: 10px;
  margin-bottom: 10px;
}

.xxlg-margin-b {
  margin-bottom: 160px;
}

.xlg-margin-b {
  margin-bottom: 120px;
}

.lg-margin-b {
  margin-bottom: 80px;
}

.md-margin-b {
  margin-bottom: 40px;
}

.sm-margin-b {
  margin-bottom: 20px;
}

.xsm-margin-b {
  margin-bottom: 10px;
}

.xxlg-margin-t {
  margin-top: 160px;
}

.xlg-margin-t {
  margin-top: 120px;
}

.lg-margin-t {
  margin-top: 80px;
}

.md-margin-t {
  margin-top: 40px;
}

.sm-margin-t {
  margin-top: 20px;
}

.xsm-margin-t {
  margin-top: 10px;
}

/* Color bar */
.color-bar {
  background: var(--primary);
  height: 7px;
  width: 180px;
  margin: 0 auto 0 0;
}


/* Links */
a.solid {
  border: 1px solid var(--primary);
  color: var(--white);
  background: var(--primary);
}

a.solid.dark {
  border: 1px solid var(--secondary);
  color: var(--white);
  background: var(--secondary);
}


/* *************************** Header *************************** */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 60px);
  background: var(--white);
  padding: 0 30px;
  transition: 0.3s;
  border-bottom: 1px solid rgba(0, 10, 20, 0.1);
}

header.home-header {
  background: transparent;
  padding: 26px 30px;
  border: 0;
}

header .logo {
  display: flex;
  flex-direction: column;
}

header .logo a {
  padding: 0;
}

header .logo a:hover {
  color: var(--secondary);
}

header .logo a div {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 20px;
  margin-right: 8px;
  margin-left: 20px;
  /* filter: grayscale(100) brightness(0); */
}

header .logo h1 {
  font-size: 24px;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  font-family: 'Poppins';
}

header .logo .subtitle {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  white-space: nowrap;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
}

header a {
  font-size: 18px;
  transition: 0.3s;
  padding: 20px 0px;
  display: inline-block;
  text-align: center;
}


header nav a:hover {
  color: var(--primary);
}

header nav a.active {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
}

header .contact-links a {
  white-space: nowrap;
}


header .contact-links a:hover {
  box-shadow: none;
  background: var(--primary);
  color: var(--white);
}

/* ********* Client list sections ********* */
.client-list {
  position: relative;
}

.client-list a.button {
  background: var(--primary);
  color: var(--white);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0px);
  opacity: 0;
  z-index: 2;
}


.client-list .clients {
  display: flex;
  justify-content: space-around;
  overflow: scroll;
  transition: .7s cubic-bezier(.19, 1, .22, 1)
}

.client-list:hover .clients {
  /* filter: blur(10px);
  transform: scale(.95);
  z-index: 1; */
}

.client-list:hover a.button {
  /* opacity: 1;
  transform: translate(-50%, -7px);
  cursor: pointer; */
}

.client-list img {
  height: 40px;
  margin: 18px;
}

/* ********* Footer on each page ********* */
footer {
  background: var(--secondary);
  color: var(--gray300);
}

footer .logo {
  display: flex;
  align-items: center;
}

footer .logo img {
  height: 20px;
  margin-right: 6px;
  margin-left: 20px;
  filter: grayscale(100) brightness(100);
}

footer .title {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  color: var(--white);

}

footer .subtitle {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

footer .text {
  color: var(--white);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 100;
}

footer .site-links {
  display: flex;
  justify-content: space-around;
}

footer .site-links .services h4 {
  color: var(--gray100);
  font-size: 28px;
}

footer .site-links .services .nav-links {
  display: flex;
  flex-direction: column;
}

footer .site-links .services a {
  color: var(--gray200);
  font-size: 16px;
  padding: 20px 0;
  transition: 0.3s;
}

footer .site-links .services a:hover {
  color: var(--gray100);
}

footer .site-links .services a:nth-child(2) {
  border-top: 1px dashed var(--gray400);
  border-bottom: 1px dashed var(--gray400);
}


footer .site-links .contact {
  margin: 0 10px;
}
footer .site-links .contact h4 {
  color: var(--gray100);
  font-size: 28px;
}

footer .site-links .contact .location {
  font-size: 16px;
}

footer .site-links .contact .location .office {
  color: var(--gray200);
  font-weight: 700;
}

footer .site-links .contact .location .line {
  display: flex;
  margin: 20px 0;
}

footer .site-links .contact .location .line .icon {
  margin-right: 10px;
  opacity: 0.5;
  font-size: 26px;
}

footer .site-links .contact .location .line .icon i {
  opacity: 0.5;
  transition: 0.3s;
}

footer .site-links .contact .location .line:hover i {
  opacity: 1;
}

footer .site-links .contact .location .line .info {
  display: flex;
  align-items: center;
}

footer .site-links .contact .location .line .info a {
  color: var(--gray300);
  transition: 0.3s;
}

footer .site-links .contact .location .line .info a:hover {
  color: var(--gray100);
}

footer .noco-designworks a {
  color: var(--gray400);
  font-size: 14px;
}


/* Menu */

.menu {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1000;
  display: none;
  cursor: pointer;
}

.menu .close {
  display: none;
  margin-right: 5px;
}

.menu .close.show {
  display: block;
}

.menu .bars.show {
  display: none;
}


.menu i {
  font-size: 30px;
  padding: 10px;
  color: var(--primary);
}



@media only screen and (max-width: 740px) {
/* *************************** Global *************************** */
  :root {
      --title-size: 32px;
  }
  .max-width {
  padding: 0 20px;
}

/* *************************** Header *************************** */

  header {
    display: none;
  }

  header.show {
    display: block;
  }

  header nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
  }

  header div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  header nav a {
    display: block;
    margin: 10px 0;
    padding: 10px 0;
  }


  .menu {
    display: block;
  }


  /* ********* Client list sections ********* */
  .client-list {
    overflow: scroll;
  }

  .client-list .clients {
    flex-wrap: nowrap;
  }

  /* ********* Footer on each page ********* */

  footer .site-links {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  footer .site-links .services {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  footer .site-links .services a {
    padding: 10px 0;
  }

  footer .site-links .contact:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  footer .site-links .contact:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }


  footer .site-links .contact .location {
    margin: 10px 0;
  }


  footer .site-links .contact .location .line {
    margin: 2px 0;
  }



}

@media only screen and (max-width: 500px) {

  /* ********* Footer on each page ********* */

  footer .site-links {
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 0;
    padding-bottom: 0;
  }

  footer .site-links .services {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  footer .site-links .services a {
    padding: 10px 0;
  }

  footer .site-links .contact:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  footer .site-links .contact:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }



}